.layout {
  /* display: flex; */
  flex-direction: column;
  min-height: 100vh;
  max-width: 48rem;
  align-items: center;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.layout-content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-wrap: break-word;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 100vh;
}

.body {
    flex: 1; /* 让内容区域占据剩余空间 */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  #header {
    margin: 0 auto 2rem;
    width: 100%;
  }

  #footer {
    position:absolute;
    bottom:0;
    width:100%;
  }